body {
  background-color: #000000;
  /* Black background */
  color: #FF8700;
  /* Papaya color for text */
}

.header {
  background: linear-gradient(90deg, #FF8700, #FFA040);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #000000;
  /* Black text for links */
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
}

.header .user-info {
  display: flex;
  align-items: center;
}

.header .user-info span {
  margin-right: 15px;
  color: #000000;
}

.header .btn-logout {
  background-color: #000000;
  /* Black background */
  color: #FF8700;
  /* Papaya text */
  border: 2px solid #FF8700;
  /* Papaya border */
}

.header .btn-logout:hover {
  background-color: #FFA040;
  /* Slightly lighter papaya on hover */
  color: #000000;
  /* Black text */
}

.container {
  background-color: #000000;
  /* Black background */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  margin-top: 20px;
}

.form-control {
  background-color: #FF8700;
  /* Papaya for input background */
  color: #000000;
  /* Black text */
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.form-control::placeholder {
  color: #000000;
  /* Black placeholder text */
}

.form-control:focus {
  background-color: #FFA040;
  /* Slightly lighter papaya for focus */
  color: #000000;
  /* Black text */
  border-color: #e07600;
  /* Slightly darker papaya */
  box-shadow: none;
}

.btn-custom {
  background-color: #FF8700;
  /* Papaya whip button */
  color: #000000;
  /* Black text */
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-custom:hover {
  background-color: #FFA040;
  /* Slightly lighter papaya on hover */
  color: #000000;
  /* Black text */
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggle-container .btn {
  width: 48%;
}

.hidden {
  display: none;
}

.palabra-del-dia {
  font-size: 32px;
  margin-left: 25px;
  margin-top: 20px;
}

.palabra-del-dia span {
  font-weight: 900;
  margin-left: 10px;
}

span.user-info {
  color: #000000;
}

.letraJuego {
  width: 90px;
  height: 70px;
  margin: 10px;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  border: 5px solid #e07600;
}

div.letraJuego {
  width: 88px;
  line-height: 1.5;
  background-color: #e07600;
  color: #000000;
  align-content: center;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div.letraJuegoPorcentaje {
  width: 100px;
  line-height: 1.5;
  font-size: 28px;
  background-color: #ffd5a5;
  color: #ad5d01;
  align-content: center;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: center;
}

div.letraJuegoMiddle {
  width: 5px;
  line-height: 1.5;
  font-size: 28px;
  background-color: #ad5d01;
  color: #ad5d01;
  align-content: center;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: center;
  margin-left: 55px;
  margin-right: 54px;
}

.letraEditable {
  background-color: white;
  border: 5px solid #e07600;
}

.juegospacer {
  width: 120px;
}

.juego-row {
  width: 800px;
  margin: 10px 0px;
}

.btn-enviar {
  width: 100px;
  height: 70px;
  margin: 10px;
  font-size: 18px;
  font-weight: 900;
}